@media (max-width: 768px) {
    .about-main {
        width: 88.5%;
        margin: auto;
        padding-top: 0;
    }

    .about-section-one {
        flex-direction: column;
        width: 100%;
        margin-top: 55px;
        padding: 2rem 0 0;
        height: auto;
        align-items: flex-start;
    }

    .about-section-one-text h1 {
        font-size: 40px;
        line-height: 46.88px;
        text-align: left;
    }

    .about-section-one-text h1 {
        font-weight: 300;
    }

    .about-section-one-text .about-h1-blue {
        font-weight: 700;
    }

    .about-section-one-image {
        height: 394px;
        width: 100%;
        margin-top: 31px;
    }

    .about-section-one-image img {
        height: 100%;
        width: 100%;
        border-radius: 24px;
        object-fit: cover;
    }

    .about-section-two {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        height: auto;
        padding-top: 2rem;
        margin-bottom: 100px;
    }

    .about-section-two .images {
        height: 351px;
        gap: 13.48px;
        width: 100%;
    }

    .image-col1,
    .image-col2 {
        gap: 20.5px;
    }

    .about-section-two .images img {
        width: 159.26px;
        height: 132.2px;
        border-radius: 15.46px;
    }

    .about-section-two .text {
        width: 100%;
        gap: 12px;
    }

    .about-section-two .text .text-p {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }

    .about-section-three {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
        gap: 12px;
        position: relative;
        padding-bottom: 128px;
    }

    .about-section-three-background {
        left: 0;
        top: -10%;
        width: 100%;
    }

    .purpose {
        padding: 24px 0;
        width: 100%;
    }

    .mission {
        transform: translateX(0);
        padding: 13.5px 0;
        width: 100%;
    }

    .about-section-three h1 {
        font-size: 24px;
        line-height: 28.13px;
        letter-spacing: 0.1px;
    }

    .about-section-three p {
        font-size: 14px;
        line-height: 37.24px;
        letter-spacing: 0.1px;
        font-weight: 400;
    }

    .about-section-four {
        flex-direction: column;
        width: 100%;
    }

    .about-section-four-image {
        width: 100%;
        height: 332.92px;
    }

    .about-section-four-image img {
        border-radius: 0 9.02px 0 0;
    }

    .about-section-four-text {
        gap: 24px;
        padding: 0;
        margin-top: 24px;
        width: 100%;
    }

    .about-section-four-des {
        flex-direction: column;
        gap: 22px;
    }

    .des1 {
        margin-bottom: 22px;
    }

    .des-p {
        width: 100%;
    }

    .about-section-five {
        height: auto;
        gap: 24px;
        height: 216.26px;
        margin: 64px 0;
    }

    .about-section-five-heading {
        font-size: 40px;
        line-height: 49.5px;
        font-weight: 600;
    }

    .about-section-five-p {
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        line-height: 21.09px;
        letter-spacing: -0.36px;
        color: #6F7680;
    }

    .about-sign-up {
        font-weight: 500;
        font-size: 6.89px;
        line-height: 6.89px;
        text-align: center;
        padding: 7.35px 14.69px;
        border-radius: 45.92px;
        display: flex;
        justify-content: center;
        margin: auto;
        width: 78.06px;
    }
}