.about-main {
    padding-top: 5rem;
}

.about-section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px 0 134px;
    height: 678px;
}

.about-section-one-image {
    height: 534.31px;
    width: 436px;
    margin-top: 62px;
}

.about-section-one-image img {
    height: 100%;
    width: 100%;
    border-radius: 34.67px;
    object-fit: cover;
}

.about-section-one-text h1 {
    font-size: 104px;
    letter-spacing: 0.1px;
    line-height: 100px;
    font-weight: 300;
}

.about-section-one-text .about-h1-blue {
    font-weight: 700;
}

.about-section-two {
    margin-top: 114px;
    width: 78%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 7rem;
    justify-content: space-between;
    margin-bottom: 128px;
    height: 908px;
}

.about-section-two .images {
    display: flex;
    width: 57%;
    gap: 4.8%;
    height: 100%;
}

.image-col1,
.image-col2 {
    display: flex;
    flex-direction: column;
    gap: 5.8%;
    height: 100%;
}

.image-col1 {
    align-self: flex-start;
}

.image-col2 {
    justify-content: flex-end;
}

.about-section-two .images img {
    height: 37%;
    width: 100%;
    /* width: 412px;
    height: 342px; */
    border-radius: 40px;
    object-fit: cover;
}

.about-section-two .text {
    display: flex;
    flex-direction: column;
    width: 477px;
    gap: 34px;
    width: 31%;
}

.about-section-two .text .text-head {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.1px;
    font-weight: 700;
}

.about-section-two .text .text-p {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.1px;
    font-weight: 400;
}

.about-section-three {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    align-items: left;
    gap: 32px;
    position: relative;
    padding-bottom: 128px;
}

.about-section-three-background {
    position: absolute;
    /* width: 40%; */
    height: 150%;
    left: 50%;
    top: -20%;
}

.mission::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('assets/section4background.png');
    opacity: 30%;
    z-index: -1;
}

.mission {
    text-align: center;
    padding: 24px 25px;
    align-self: flex-end;
    background: #2EB4540F;
    position: relative;
    border-radius: 12px;
}

.purpose::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('assets/section4background.png');
    opacity: 30%;
    z-index: -1;
}

.purpose {
    text-align: center;
    padding: 24px 230px;
    align-self: flex-start;
    background: #4A4E9E0F;
    position: relative;
    border-radius: 12px;
}

.about-section-three h1 {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.1px;
    font-weight: 700;
}

.about-section-three p {
    font-size: 16px;
    line-height: 37.24px;
    letter-spacing: 0.1px;
    font-weight: 400;
}

.mission p {
    font-size: 19.6px;
}

.about-section-four {
    display: flex;
    align-items: center;
    background: #EFEFEF4F;
}

.about-section-four-image {
    width: 40%;
    height: 600px;
}

.about-section-four-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20px 0 0;
}

.about-section-four-text {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 52%;
}

.about-section-four-text .heading {
    font-weight: 700;
    line-height: 40px;
    font-size: 30px;
    letter-spacing: 0.1px;
}

.about-section-four-des {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.des1 {
    margin-bottom: 40px;
}

.des-top {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 22px;
}

.des-image {
    width: 38px;
    height: 38px;
}

.des-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.des {
    flex: 1;
}

.des-top-head {
    font-size: 13px;
    letter-spacing: 0.1px;
    line-height: 23px;
    font-weight: 700;
}

.des-p {
    /* width: 450px; */
    font-size: 14px;
    width: 100%;
    line-height: 30px;
    letter-spacing: 0.1px;
    font-weight: 400;
}

.about-section-five {
    display: flex;
    justify-content: center;
    height: 403px;
    align-items: center;
    flex-direction: column;
    gap: 43px;
}

.about-section-five-heading {
    font-size: 50px;
    line-height: 49.5px;
    font-weight: 600;
}

.about-section-five-p {
    font-size: 22px;
    font-weight: 300;
    line-height: 37.5px;
    letter-spacing: -0.36px;
    color: #6F7680;
}

.black-button {
    color: white;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.32px;
    padding: 10px 48px;
    background: #373435;
    display: inline;
    border-radius: 100px;
}

.about-sign-up {
    font-size: 0.96em;
    line-height: 0.96rem;
    text-align: center;
    padding: 16.45px 32.9px 16.45px 32.9px;
    border-radius: 102.81px;
    display: inline-block;
    color: white;
    width: fit-content;
    background-color: #373435;
}