@media (max-width: 768px) {
    .main {
        padding: 0;
        flex-direction: column;
        margin: 55px auto 30px;
        width: 95%;
    }

    .to-right {
        width: 100%;
        height: auto;
        padding: 15px;
        transform: rotate(0);
    }

    .to-left h1 {
        font-size: 21px;
        font-weight: 700;
        line-height: 46.8px;
        letter-spacing: -1px;
        margin-bottom: 6px;
    }

    .to-left p {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 10px;
        width: auto;
    }

    form {
        width: auto;
        overflow: hidden;
        gap: 7px;
    }

    input {
        line-height: 15.23px;
        padding: 10px;
    }

    button {
        padding: 10px 0;
        font-size: 15px;
        border-radius: 4px;
    }
}