@media (max-width: 768px) {
    .mobile-nav {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .mobile-nav-top {
        z-index: 11;
        padding: 16px 21px;
        display: flex;
        height: 55px;
        width: 100vw;
        top: 0;
        background-color: white;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        z-index: 11;
        border: 1px solid #EAEAEA;
    }

    .menu-open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .bar {
        width: 100%;
        height: 3px;
        background-color: #333;
        margin: 2px 0;
        transition: all 0.3s ease;
    }

    .menu-open.close .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .menu-open.close .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-open.close .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .mobile-nav-bottom {
        position: fixed;
        top: 55px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #ffffff;
        transition: 300ms ease-out;
        transform: translateY(-120%);
        z-index: 5;
    }

    .mobile-nav.open .mobile-nav-bottom {
        transform: translateY(0%);
    }

    .navigation-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 26px 29px;
        gap: 40px;
        margin: 0;
    }

    .navigation-links li a {
        font-size: 15.75px;
        text-decoration: none;
        color: #344053;
        letter-spacing: -0.16px;
        font-weight: 600;
        line-height: 16px;
    }

    .mobile-nav-button {
        position: absolute;
        bottom: 56px;
        border-top: 1px solid #ECECEC;
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* z-index: 11; */
    }

    .mobile-nav-sign-in-button {
        display: block;
        margin: auto;
        padding: 10.51px 0;
        font-weight: 700;
        text-align: center;
        font-size: 11.7px;
        line-height: 13.71px;
        width: 208px;
        border-radius: 26.98px;
        border: 0.98px solid #373435;
        background-color: #ffffff;
        color: #333333;
    }

    .body-main {
        width: 95%;
        margin: auto;
        padding-top: 0;
    }

    nav {
        display: none;
    }

    .section-one {
        margin-top: 55px;
        flex-direction: column;
        padding: 0;
        gap: 1rem;
    }

    .section-one-left p {
        font-size: 0.87em;
        line-height: 16.41px;
    }

    .section-one-head {
        font-size: 2.5em;
        line-height: 53.12px;
    }

    .section-one-left {
        gap: 1rem;
    }

    .section-one-left .text {
        width: 90%;
        gap: 1rem;
    }

    .section-one-left .button {
        width: 107.6px;
        font-size: 0.87em;
        color: white;
        font-weight: 500;
        background-color: #4A4E9E;
        padding: 10.7px 25px;
        border-radius: 40.67px;
        display: flex;
        justify-content: center;
    }

    .section-one .background {
        display: none;
    }

    .section-one-right {
        width: 97%;
        height: 389.68px;
        padding: 1.2rem 1.0rem;
    }

    /* SECTION TWO */
    .section-two {
        margin-bottom: 2rem;
        /* margin-top: -5rem; */
        /* padding-top: 0; */
    }

    .section-two-button {
        font-size: 14px;
        line-height: 12.02px;
        color: white;
        border-radius: 48.55px;
        padding: 5.83px 9.71px 5.83px 9.71px;
        width: 127px;
        height: 24.65px;
        margin-top: 0;
    }

    .services-des {
        font-size: 24px;
        font-weight: 900;
        line-height: 28.13px;
        margin: auto;
        width: 281px;
        height: 84px;
    }

    .section-two .articles {
        gap: 21px;
        margin-top: 24px;
    }

    .section-two article {
        padding: 10px;
        width: 100%;
        flex-direction: column;
        border-radius: 16.82px;
    }

    .article-head {
        font-size: 18px;
        line-height: 23.23px;
    }

    .article-text {
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    .article-p {
        width: 93%;
        font-weight: 200;
        font-size: 1em;
        line-height: 20px;
    }

    .article-button {
        font-size: 12px;
        line-height: 12.61px;
        letter-spacing: 0.79px;
        border-radius: 50px;
        border: 1px solid #2EB454;
        padding: 11.04px 6.83px;
        width: 120px;
    }

    .section-two-right {
        width: auto;
        height: 305.77px;
        border-radius: 5.48px;
        padding: 21.24px 11.76px;
        background-color: white;
    }

    .section-two-right img {
        border-radius: 5.61px;
    }

    .article-logo img {
        width: 161.39px;
        height: 45.73px;
    }

    /* SECTION THREE */
    .section-three-head {
        font-size: 24px;
        width: 86.7%;
        margin: auto;
        font-weight: 500;
        line-height: 28.13px;
        margin-bottom: 24px;
    }

    .section-three-des {
        width: 100%;
        margin: auto;
        justify-content: space-between;
        display: flex;
    }

    section-three .button {
        font-weight: 600;
        font-size: 6.18px;
        line-height: 9.26px;
        letter-spacing: 0.05px;
        padding: 5.23px 21.38px;
        display: inline-block;
        border-radius: 9.8px;
        margin-bottom: 24px;
    }

    .section-three h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 24.59px;
        letter-spacing: -0.95px;
    }

    .reasons {
        margin-top: 25px;
    }

    .reason {
        width: 312px;
        gap: 15.2px;
        margin: auto;
    }

    .reason p {
        font-size: 14px;
        line-height: 16.63px;
        letter-spacing: -0.1px;
    }

    .reason p :nth-child(2) {
        font-weight: 700;
    }

    .fa-solid {
        font-size: 10.95px;
        height: 4.64px;
    }

    .section-three-image {
        width: 100%;
        height: 371.58px;
        margin: auto;
    }

    .section-three-image img {
        border-radius: 15.58px;
    }

    .section-three {
        margin-bottom: 24px;
    }

    /* SECTION FOUR */
    .section-four {
        width: 88.4%;
        border-radius: 9.18px;
        padding: 45.8px 46.6px;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
        margin-bottom: 7.5rem;
        border: 0.45px solid #DFDFDF;
    }

    .section-four img {
        width: 254px;
        height: 143px;
        border-radius: 8.93px;
        margin-bottom: 17px;
    }

    .section-four h2 {
        font-size: 16.07px;
        line-height: 22.04px;
        width: auto;
        margin-bottom: 18.8px;
        text-align: center;
    }

    .section-four .button {
        font-weight: 500;
        font-size: 6.89px;
        line-height: 6.89px;
        text-align: center;
        padding: 7.35px 14.69px;
        border-radius: 45.92px;
        display: flex;
        justify-content: center;
        margin: auto;
        width: 78.06px;
    }

    /* TESTIMONIAL SECTION */
    .testimonials-heading h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
    }

    .testimonials-heading p {
        font-size: 12px;
        line-height: 18px;
        gap: 8.39px;
    }

    .testimonials-container {
        padding: 10px 0;
        min-width: 100%;
        height: auto;
        margin: 3rem 0;
    }

    .testimonial {
        gap: 12px;
    }

    .prev,
    .next {
        width: 16.75px;
        height: 16.75px;
    }

    .quote-image {
        top: 0%;
    }

    .person-image {
        width: 24.81px;
        height: 24.81px;
    }

    .person-name {
        font-size: 12px;
        line-height: 7.48px;
        margin-top: 8px;
    }

    .testimonial-text1,
    .testimonial-text2 {
        font-size: 12px;
        line-height: 14.24px;
        letter-spacing: -0.11px;
        width: 75%;
    }

    .reality h2 {
        font-size: 24px;
        font-weight: 500;
        font-family: 'New Spirit';
        line-height: 37.07px;
    }

    .reality .buttons {
        gap: 6.89px;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.06px;
        margin-top: 24px;
    }

    .reality .sign {
        padding: 10.24px 23.89px;
        border: 0.73px solid #4A4E9E;
        border-radius: 19.81px;
    }

    .reality .contact {
        padding: 8.29px 22.42px;
        border: 0.73px solid #F3F3F2;
        color: #F3F3F2;
        border-radius: 19.81px;
    }

    /* FOOTER */
    footer {
        padding: 60.22px 15px;
        width: 100vw;
    }

    footer .footer-logo {
        width: 152px;
        height: 46.29px;
    }

    .footer-logo img {
        width: 100%;
        height: 100%;
    }

    footer .contact-info ul {
        padding: 0;
    }

    .footer-right {
        width: auto;
        margin: 0;
        flex-wrap: wrap;
        gap: 50px;
    }

    .column-head {
        line-height: 27px;
    }

    .social-box {
        border: 0.74px solid #F1F1F3;
        padding: 8.83px;
        border-radius: 4.42px;
    }

    .social-box .fa-brands {
        font-size: 14.72px;
    }

    .footer-top {
        margin-bottom: 24px;
    }

    .section-three-des {
        flex-direction: column;
        gap: 2rem;
    }
}